<!--<style>-->
<!--/*公共样式*/-->
<!--.layui-form-label {-->
<!--width: 148px;-->
<!--}-->

<!--.layui-form-item {-->
<!--margin-bottom: 22px;-->
<!--}-->

<!--/*私有样式*/-->
<!--.between {-->
<!--width: 80%;-->
<!--margin: 0 auto;-->
<!--padding: 40px 200px;-->
<!--}-->

<!--.between-content {-->
<!--width: 60%;-->
<!--}-->

<!--.img-div {-->
<!--width: 121px;-->
<!--height: 121px;-->
<!--float: right;-->
<!--}-->

<!--.layui-upload-img {-->
<!--width: 121px;-->
<!--height: 121px;-->
<!--}-->

<!--.biaodan {-->
<!--float: left;-->
<!--}-->
<!--</style>-->
<!-- 内容主体区域 -->
<!--<div class="between">-->
<form id="form_baseAdd" class="layui-form between-content" method="post" action="/baseInfo/set">
	<div class="img-div">
		<img src="../../img/base_add/default_handsome.jpg" class="layui-upload-img" id="uploadPhoto">
		<div id="upload_err"></div>
		<!--<button type="button" class="layui-btn" id="uploadPhoto">-->
		<!--<i class="layui-icon">&#xe67c;</i>上传一寸彩照-->
		<!--</button>-->
	</div>
	<div class="biaodan">
		<div class="layui-form-item ">
			<label class="layui-form-label">姓名</label>
			<div class="layui-input-inline">
				<input type="text" name="name" lay-verify="required" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">身份证号</label>
			<div class="layui-input-inline">
				<input type="text" name="idCard" required lay-verify="identity" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block">
				<input type="radio" name="sex" value="男" title="男" checked>
				<input type="radio" name="sex" value="女" title="女">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">籍贯</label>
			<div class="layui-input-block">
				<select name="nativePlace" lay-verify="" lay-search xm-select="xm_nativePlace">
					<!-- <option value="北京">北京</option> -->
					<!-- <option value="赣州">赣州</option> -->
					<!-- <option value="南昌">南昌</option> -->
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">开始工作时间</label>
			<div class="layui-input-inline">
				<input type="text" name="startWorkDate" class="layui-input" id="laydate_start_work_date">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">编制类型</label>
			<div class="layui-input-inline">
				<select name="formationType" lay-verify="">
					<option value="干部">干部</option>
					<option value="聘干">聘干</option>
					<option value="工人">工人</option>
					<option value="合同制工人">合同制工人</option>
				</select>

			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">到校时间</label>
			<div class="layui-input-inline">
				<input type="text" name="toSchoolDate" id="laydate_to_school_date" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">退休时间</label>
			<div class="layui-input-inline">
				<input type="text" name="retireDate" id="laydate_retire_date" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">退休类型</label>
			<div class="layui-input-inline">
				<input type="text" name="retireType" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">退休时部门</label>
			<div class="layui-input-inline">
				<input type="text" name="retireInDepartment" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">职务</label>
			<div class="layui-input-inline">
				<input type="text" name="job" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">职称</label>
			<div class="layui-input-inline">
				<input type="text" name="jobLevel" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">专业/工种</label>
			<div class="layui-input-inline">
				<input type="text" name="majorOrWork" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">工资号</label>
			<div class="layui-input-inline">
				<input type="text" name="salaryNumber" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">政治面貌</label>
			<div class="layui-input-inline">
				<input type="text" name="politicalOutlook" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">现所属支部</label>
			<div class="layui-input-inline">
				<input type="text" name="presentBranch" class="layui-input">
			</div>
		</div>


		<div class="layui-form-item">
			<label class="layui-form-label">政府特殊津贴</label>
			<div class="layui-input-block">
				<input type="radio" name="governmentAllowance" value="有" title="有" checked>
				<input type="radio" name="governmentAllowance" value="无" title="无">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">复转退军人</label>
			<div class="layui-input-block">
				<input type="radio" name="onceInArmy" value="是" title="是" checked>
				<input type="radio" name="onceInArmy" value="否" title="否">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">伤残</label>
			<div class="layui-input-block">
				<input type="radio" name="disabled" value="是" title="是" checked>
				<input type="radio" name="disabled" value="否" title="否">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">是否军属/烈属</label>
			<div class="layui-input-block">
				<input type="radio" name="armyFamily" value="是" title="是" checked>
				<input type="radio" name="armyFamily" value="否" title="否">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">立战功</label>
			<div class="layui-input-inline">
				<input type="text" name="exploit" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">劳模</label>
			<div class="layui-input-inline">
				<input type="text" name="modelWorker" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">目前身体健康状况</label>
			<div class="layui-input-inline">
				<input type="text" name="healthCurrent" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">慢性疾病</label>
			<div class="layui-input-inline">
				<input type="text" name="diseaseChronic" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">手机号</label>
			<div class="layui-input-inline">
				<!--<input type="text" name="phone" lay-verify="phone"-->
				<input type="text" name="phone" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">家庭电话</label>
			<div class="layui-input-inline">
				<!--<input type="text" name="homePhone" lay-verify="phone"-->
				<input type="text" name="homePhone" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">QQ</label>
			<div class="layui-input-inline">
				<input type="text" name="qqNumber" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">微信</label>
			<div class="layui-input-inline">
				<input type="text" name="wxNumber" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">是否与子女生活</label>
			<div class="layui-input-block">
				<input type="radio" name="liveWithChildren" value="是" title="是" checked>
				<input type="radio" name="liveWithChildren" value="否" title="否">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">现居住地址\通信地址</label>
			<div class="layui-input-inline">
				<input type="text" name="addressCurrent" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">邮编</label>
			<div class="layui-input-inline">
				<input type="text" name="zipCode" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">现户口地址</label>
			<div class="layui-input-inline">
				<input type="text" name="accountAddressCurrent" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">配偶或子女电子邮箱</label>
			<div class="layui-input-inline">
				<!--<input type="text" name="familyEmail" lay-verify="email"-->
				<input type="text" name="familyEmail" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">子女家庭地址</label>
			<div class="layui-input-inline">
				<input type="text" name="adressChildren" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">校内联系人姓名</label>
			<div class="layui-input-inline">
				<input type="text" name="nameLinkMan" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">校内联系人部门</label>
			<div class="layui-input-inline">
				<input type="text" name="departmentLinkMan" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">校内联系人地址</label>
			<div class="layui-input-inline">
				<input type="text" name="addressLinkMan" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">校内联系人电话</label>
			<div class="layui-input-inline">
				<!--<input type="text" name="phoneLinkMan" lay-verify="phone"-->
				<input type="text" name="phoneLinkMan" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">参加老年体协活动小组</label>
			<div class="layui-input-inline">
				<input type="text" name="activityGroup" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">婚姻状况</label>
			<div class="layui-input-inline">
				<select name="maritalStatus" lay-verify="">
					<option value="已婚">已婚</option>
					<option value="未婚">未婚</option>
					<option value="再婚">再婚</option>
					<option value="丧婚">丧婚</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">配偶姓名</label>
			<div class="layui-input-inline">
				<input type="text" name="nameMate" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">配偶电话</label>
			<div class="layui-input-inline">
				<!--<input type="text" name="phoneMate" lay-verify="phone"-->
				<input type="text" name="phoneMate" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">配偶健康状况</label>
			<div class="layui-input-inline">
				<input type="text" name="healthMate" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">配偶邮箱</label>
			<div class="layui-input-inline">
				<!--<input type="text" name="emailMate" lay-verify="email"-->
				<input type="text" name="emailMate" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">现在坚持的体育健身项目</label>
			<div class="layui-input-inline">
				<input type="text" name="sport" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">文、体爱好项目</label>
			<div class="layui-input-inline">
				<input type="text" name="favoriteHobby" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">是否本校双职工</label>
			<div class="layui-input-block">
				<input type="radio" name="doubleWorker" value="是" title="是" checked>
				<input type="radio" name="doubleWorker" value="否" title="否">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">校外团体中担任的职务</label>
			<div class="layui-input-inline">
				<input type="text" name="dutyInSocialGroup" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">是否浏览本处网站</label>
			<div class="layui-input-block">
				<input type="radio" name="browseWebsite" value="是" title="是" checked>
				<input type="radio" name="browseWebsite" value="否" title="否">
			</div>
		</div>
		<div class="layui-form-item no_print">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="formDemo" id="next">下一步</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</div>
</form>
<button class="layui-btn" id="btn_printForm">打印表单</button>
<!--</div>-->
<script>
  layui.use(['form', 'upload', 'laydate', 'formSelects'], function () {
    var element = layui.element;
    var form = layui.form;
    var $ = layui.$;
    form.render();
    var laydate = layui.laydate;
    var formSelects = layui.formSelects;
    formSelects.render();
    formSelects.config('xm_nativePlace', {
      success: function (id, url, val, result) {
        console.log("success回调: " + url);
      },
      error: function (id, url, val, err) {
        console.log("err回调: " + url);
      }
    });

    formSelects.data('xm_nativePlace', 'server', {
      url: '/city/getCityToNativePlace',
      linkage: true,
      linkageWidth: 130
    });

    //监听提交
    form.on('submit(formDemo)', function (data) {
      console.log(JSON.stringify(data.field));
      return true;
    });
    // $('#next').click(function () {
    //     $('.layui-body').load('pages/info_add/base_add2.html');
    // });
    var upload = layui.upload;

    //时间选择器
    laydate.render({
      elem: '#laydate_start_work_date',
      type: 'date'
    });
    laydate.render({
      elem: '#laydate_to_school_date',
      type: 'date'
    });
    laydate.render({
      elem: '#laydate_retire_date',
      type: 'date'
    });

    //普通图片上传
    var uploadInst = upload.render({
      elem: '#uploadPhoto',
      url: '/file/upload/',
      field: 'file',
      before: function (obj) {
        console.log(obj);
        //预读本地文件示例，不支持ie8
        obj.preview(function (index, file, result) {
          $('#uploadPhoto').attr('src', result); //图片链接（base64）
        });
      },
      done: function (res) {
        console.log(res);
        //如果上传失败
        if (res.code > 0) {
          return layer.msg('上传失败');
        }
        //上传成功
      },
      error: function () {
        //演示失败状态，并实现重传
        var upload_err = $('#upload_err');
        upload_err.html(
            '<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        upload_err.find('.demo-reload').on('click', function () {
          uploadInst.upload();
        });
      }
    });
    $('#btn_printForm').click(function () {
      $('#form_baseAdd').print({
        noPrintSelector: '.no_print'
      })
    })
  });
</script>