<div align="right">
	<button style="" class="layui-btn" id="btn_printForm">打印空表</button>
</div>
<br>
<form id="form_baseAdd" lay-filter="filter_baseAdd" class="layui-form">
	<input type="text" name="photoUrl" hidden id="photoUrl">
	<div class="BiaoTou" align="center"><strong>江西理工大学离退休人员基本信息表</strong>
	</div>
	<br>
	<br>

	<div class="SongTX4" align="center">

		<table style="border-collapse:collapse " width="660" cellspacing="0" cellpadding="2" border="1">
			<tbody>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">姓名</td>
				<td width="14%" height="44">
					<input  name="name" class="select" type="text" style="border: none;width:60px"/></td>
				<td width="11.4%" height="44">性别</td>
				<td width="14%" height="44">
					<select  lay-ignore  name="sex" style="border: none;width: 25px;-moz-appearance: none;-webkit-appearance: none">
						<option value=""></option>
						<option value="男">男</option>
						<option value="女">女</option>
					</select>
				</td>
				<td width="11.4%" height="44">出生日期</td>
				<td colspan="2" width="11.4%" height="44"><input lay-ignore class="select" style="border: none;width: 150px"
				                                                 type="text"
				                                                 name="birth"
				                                                 id="birth"></td>
				<td rowspan="3" width="16%" height="44">
					<img src="../../img/default_handsome.png" style="width: 100%" id="uploadPhoto">
					<div id="upload_err"></div>
				</td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">政治面貌</td>
				<td width="14%" height="44">
					<select lay-ignore name="politicalOutlook">
						<option value=""></option>
						<option value="中共党员">中共党员</option>
						<option value="群众">群众</option>
						<option value="中共预备党员">中共预备党员</option>
						<option value="共青团员">共青团员</option>
						<option value="民盟盟员">民盟盟员</option>
						<option value="民革党员">民革党员</option>
						<option value="无党派人士">无党派人士</option>
					</select></td>
				<td width="11.4%" height="44">民族</td>
				<td width="14%" height="44"><textarea lay-ignore  class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:80px;"></textarea>

				</td>
				<td width="11.4%" height="44">电话号码</td>
				<td colspan="2" height="44"><input lay-ignore name="phone" class="select" type="text"
				                                   style="border: none;width: 100px"/>
				</td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">编制类型</td>
				<td width="14%" height="44">
					<select lay-ignore name="formationType ">
						<option value=""></option>
						<option value="干部">干部</option>
						<option value="聘干">聘干</option>
						<option value="工人">工人</option>
						<option value="合同制工人">合同制工人</option>
					</select></td>
				<td width="11.4%" height="44">职务</td>
				<td width="14%" height="44"><textarea lay-ignore name="job" class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:80px;"></textarea>
				</td>
				<td width="11.4%" height="44">职称</td>
				<td colspan="2" height="44"><input lay-ignore name="jobLevel" class="select" type="text"
				                                   style="border: none;max-width: 130px"/>
				</td>

			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">籍贯</td>
				<td colspan="3" height="44">
					<select type="text" class="select" style="border: none;width: 500px" name="nativePlace"
					        lay-verify=""
					        lay-search xm-select-radio="" xm-select-skin="default" xm-select="xm_nativePlace">
					</select>
				</td>
				<td width="11.4%" height="44">邮编</td>
				<td colspan="3" height="44"><input lay-ignore name="zipCode" class="select" type="text"
				                                   style="border: none;width:150px"/>
				</td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">身份证号</td>
				<td colspan="7" height="44"><input lay-ignore name="idCard" class="select" type="text"
				                                   style="border: none;width: 500px"/>
				</td>

			</tr>

			<tr valign="middle" align="center">
				<td width="11.4%" height="44">现户口地址</td>
				<td colspan="7" height="44"><input lay-ignore name="accountAddressCurrent" class="select" type="text"
				                                   style="border: none;width: 500px;text-align: left"/></td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">通讯地址</td>
				<td colspan="7" height="44"><input lay-ignore name="addressCurrent" class="select" type="text"
				                                   style="border: none;width: 500px;text-align: left"/></td>

			</tr>

			<tr valign="middle" align="center">
				<td width="11.4%" height="44">到校时间</td>
				<td colspan="3" height="44"><input lay-ignore class="select" style="border: none;width: 150px" type="text"
				                                   name="startWorkDate"
				                                   id="laydate_to_school_date">
				</td>
				<td width="11.4%" height="44">开始工作时间</td>
				<td colspan="3" height="44">
					<input lay-ignore class="select" style="border: none;width: 150px" type="text" name="startWorkDate"
					       id="laydate_start_work_date">


			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">退休部门</td>
				<td width="14%" height="44"><textarea lay-ignore name="retireInDepartment" class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:80px;"></textarea>
				</td>
				<td width="11.4%" height="44">退休类型</td>
				<td width="14%" height="44">
					<select lay-ignore name="retireType"
					        style="border: none;width: 70px;-moz-appearance: none;-webkit-appearance: none">
						<option value=""></option>
						<option value="volvo">提前退休</option>
						<option value="saab">正式退休</option>
					</select>
				</td>
				<td width="11.4%" height="44">退休时间</td>


				<td colspan="3"><input lay-ignore class="select" style="border: none;width: 150px" type="text"
				                       name="startWorkDate"
				                       id="laydate_retire_date">
				</td>


			<tr valign="middle" align="center">
				<td width="11.4%" height="44">专业/工种</td>
				<td width="14%" height="44"><textarea lay-ignore name="majorOrWork" class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:80px;"></textarea>
				</td>
				<td width="11.4%" height="44">工资号</td>
				<td width="14%" height="44">
					<input lay-ignore name="salaryNumber" type="text" class="select" style="border: none;width:70px"/>
				</td>
				<td width="11.4%" height="44">现所属支部</td>
				<td colspan="3" height="44"><textarea lay-ignore name="presentBranch" class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:170px;"></textarea>
				</td>
			</tr>


			<tr valign="middle" align="center">
				<td width="11.4%" height="44">邮箱</td>
				<td width="14%" height="44"><textarea lay-ignore class="select" type="text"
				                                      style="background-color:transparent;padding-top: 9px;resize:none;border: none;width:80px;"></textarea>
				</td>
				<td width="11.4%" height="44">QQ</td>
				<td width="14%" height="44">
					<input lay-ignore name="qqNumber" class="select" type="text" style="border: none;width: 80px"/>
				</td>
				<td width="11.4%" height="44">家庭电话</td>
				<td colspan="3" height="44"><input lay-ignore name="homePhone" type="text" class="select"
				                                   style="border: none;width:150px;"/></td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">是否本校双职工</td>
				<td width="14%" height="44"><label> <input lay-ignore name="doubleWorker" type="radio" value="是"/>是 </label>
					<label> <input lay-ignore name="doubleWorker" type="radio" value="否"/>否 </label></td>
				<td width="11.4%" height="44">是否为复转退军人</td>
				<td width="14%" height="44">
					<label> <input lay-ignore name="onceInArmy" type="radio" value="是"/>是 </label>
					<label> <input lay-ignore name="onceInArmy" type="radio" value="否"/>否 </label>
				</td>
				<td width="11.4%" height="44">是否为军属/烈属</td>
				<td width="14%" height="44"><label> <input lay-ignore name="armyFamily" type="radio" value="是"/>是 </label>
					<label> <input lay-ignore name="armyFamily" type="radio" value="否"/>否 </label></td>
				<td width="11.4%" height="44">是否为劳模</td>
				<td width="14%" height="44"><label> <input lay-ignore name="modelWorker" type="radio" value=""/>是 </label>
					<label> <input lay-ignore name="modelWorker" type="radio" value=""/>否 </label></td>
			</tr>

			<tr valign="middle" align="center">
				<td width="11.4%" height="44">目前健康状况</td>
				<td width="14%" height="44">
					<select lay-ignore name="healthCurrent">
						<option value=""></option>
						<option value="健康">健康</option>
						<option value="一般">一般</option>
						<option value="较差">较差</option>
					</select></td>
				<td width="11.4%" height="44">是否有慢性病</td>
				<td width="14%" height="44">
					<label> <input lay-ignore name="diseaseChronic" type="radio" value="是"/>是 </label>
					<label> <input lay-ignore name="diseaseChronic" type="radio" value="否"/>否 </label>
				</td>
				<td width="11.4%" height="44">慢性病描述</td>
				<td colspan="3" height="44"><textarea lay-ignore class="select" type="text"
				                                      style="background-color:transparent;padding-top: 13px;resize:none;border: none;width:240px;"></textarea>
				</td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">是否伤残</td>
				<td width="14%" height="44">
					<label> <input lay-ignore name="disabled" type="radio" value="是"/>是 </label>
					<label> <input lay-ignore name="disabled" type="radio" value="否"/>否 </label></td>
				<td width="11.4%" height="44">伤残说明</td>
				<td colspan="5" height="44"><textarea lay-ignore class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:400px;"></textarea>
				</td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">是否享受政府津贴</td>
				<td width="14%" height="44">
					<label> <input lay-ignore name="governmentAllowance" type="radio" value="是"/>是 </label>
					<label> <input lay-ignore name="governmentAllowance" type="radio" value="否"/>否 </label></td>
				<td width="11.4%" height="44">津贴详情</td>
				<td colspan="5" height="44"><textarea lay-ignore class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:400px;"></textarea>
				</td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">是否立战功</td>
				<td width="14%" height="44">
					<label> <input lay-ignore name="exploit" type="radio" value="是"/>是 </label>
					<label> <input lay-ignore name="exploit" type="radio" value="否"/>否 </label></td>
				<td width="11.4%" height="44">战功描述</td>
				<td colspan="5" height="44"><textarea lay-ignore class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:400px;"></textarea>
				</td>
			</tr>


			</tbody>
		</table>
		<div style="page-break-after: always;"></div>
		<br>
		<table style="border-collapse:collapse " width="660" cellspacing="0" cellpadding="2" border="1">
			<tbody>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">与子女共同生活</td>
				<td width="14%" height="44"><label> <input lay-ignore name="liveWithChildren" type="radio" value=""/>是 </label>
					<label> <input lay-ignore name="liveWithChildren" type="radio" value=""/>否 </label></td>
				<td width="11.4%" height="44">子女姓名</td>
				<td width="14%" height="44">
					<input lay-ignore class="select" type="text" style="border: none;width: 80px"/>
				</td>
				<td width="11.4%" height="44">子女邮箱</td>
				<td colspan="4" height="44"><input lay-ignore class="select" name="familyEmail" type="text"
				                                   style="border: none;width: 240px"/>
				</td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">子女地址</td>
				<td colspan="3" height="44"><textarea lay-ignore name="adressChildren" class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:190px;"></textarea>
				</td>
				<td width="11.4%" height="44">子女电话</td>
				<td colspan="3" height="44">
					<input lay-ignore type="text" class="select" style="border: none;width:  190px"/>
				</td>

			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">婚姻状况</td>
				<td width="14%" height="44">
					<select lay-ignore name="maritalStatus" lay-verify=""
					        style="border: none;width: 70px;-moz-appearance: none;-webkit-appearance: none">
						<option value=""></option>
						<option value="已婚">已婚</option>
						<option value="未婚">未婚</option>
						<option value="再婚">再婚</option>
						<option value="丧婚">丧婚</option>
					</select></td>
				<td width="11.4%" height="44">配偶姓名</td>
				<td width="14%" height="44">
					<input lay-ignore name="nameMate" class= "select" type="text" style="border: none;width: 80px"/>
				</td>
				<td width="11.4%" height="44">配偶健康状况</td>
				<td colspan="4" height="44"><select lay-ignore style="width: 80px">
					<option value=""></option>
					<option value="volvo">健康</option>
					<option value="saab">一般</option>
					<option value="saab">较差</option>
				</select></td>
			</tr>


			<tr valign="middle" align="center">
				<td width="11.4%" height="44">配偶电话</td>
				<td colspan="3" height="44"><input lay-ignore name="phoneMate" class="select" type="text"
				                                   style="border: none;width: 190px"/></td>
				<td width="11.4%" height="44">配偶邮箱</td>
				<td colspan="3" height="44">
					<input lay-ignore name="emailMate" type="text"  class="select" style="border: none;width:190px"/>
				</td>
			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">是否有校内联系人</td>
				<td width="14%" height="44"><label> <input lay-ignore name="Fruit" type="radio" value=""/>是 </label>
					<label> <input lay-ignore name="Fruit" type="radio" value=""/>否 </label></td>

				<td width="11.4%" height="44">联系人姓名</td>
				<td width="14%" height="44">
					<input lay-ignore name="nameLinkMan" class="select" type="text" style="border: none;width: 80px"/>
				</td>
				<td width="11.4%" height="44">联系人部门</td>
				<td colspan="4" height="44"><textarea lay-ignore name="departmentLinkMan" class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:190px;"></textarea>
				</td>
			</tr>

			<tr valign="middle" align="center">
				<td width="11.4%" height="44">联系人地址</td>
				<td colspan="3" height="44"><textarea lay-ignore name="addressLinkMan" class="select" type="text"
				                                      style="padding-top: 13px;resize:none;border: none;width:190px;"></textarea>
				</td>
				<td width="11.4%" height="44">联系人电话</td>
				<td colspan="3" height="44">
					<input lay-ignore name="phoneLinkMan" class="select" type="text" style="border: none;width:  190px"/>
				</td>

			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">爱好的文体项目</td>
				<td colspan="3" height="44"><input lay-ignore name="favoriteHobby" class="select" type="text"
				                                   style="border: none;width:190px"/></td>
				<td width="11.4%" height="44">目前体育健身项目</td>
				<td colspan="3" height="44">
					<input lay-ignore class="select" name="sport" type="text" style="border: none;width:190px"/>
				</td>

			</tr>
			<tr valign="middle" align="center">
				<td width="11.4%" height="44">是否参加老年体协活动组</td>
				<td width="14%" height="44"><label> <input lay-ignore name="activityGroup" type="radio" value="是"/>是 </label>
					<label><input lay-ignore name="activityGroup" type="radio" value="否"/>否 </label></td>

				<td width="11.4%" height="44">老年体协活动组中担任职务</td>
				<td width="14%" height="44">
					<textarea lay-ignore name="dutyInSocialGroup" class="select" type="text"
					          style="padding-top: 9px;resize:none;border: none;width:80px;"></textarea>
				</td>
				<td width="11.4%" height="44">是否浏览网页</td>
				<td colspan="4" height="44"><label> <input lay-ignore name="browseWebsite" type="radio" value="是"/>是 </label>
					<label> <input lay-ignore name="browseWebsite" type="radio" value="否"/>否 </label></td>
			</tr>
			</tbody>
		</table>
		<br>
		<br>
		<button class="layui-btn no_print" lay-submit="" lay-filter="formDemo" type="button">完成</button>
		<button class="layui-btn no_print" type="reset">重置</button>
	</div>

</form>


<script>
  layui.use(['form', 'upload', 'laydate', 'formSelects'], function () {
    var element = layui.element;
    var form = layui.form;
    var $ = layui.$;
    var upload = layui.upload;
    var laydate = layui.laydate;
    var formSelects = layui.formSelects;

    form.render();
    formSelects.render();

    formSelects.config('xm_nativePlace', {
      success: function (id, url, val, result) {
        console.log("success回调: " + url);
      },
      error: function (id, url, val, err) {
        console.log("err回调: " + url);
      }
    });

    formSelects.data('xm_nativePlace', 'server', {
      url: '/city/getCityToNativePlace',
      linkage: true,
      linkageWidth: 130
    });

    //监听提交
    form.on('submit(formDemo)', function (data) {
      console.log(data);
      console.log(JSON.stringify(data.field));
      if (data.field.photoUrl == null || data.field.photoUrl === '') {
        layer.msg('请上传照片');
        return false;
      }
      $.post('/baseInfo/set', data.field, function (res) {
        console.log(res);
        if (res.code === 0) {
          console.log("添加成功");
          layer.alert("添加成功")
        }
      });
      return false;
    });


    //时间选择器
    laydate.render({
      elem: '#laydate_start_work_date',
      type: 'date'
    });
    laydate.render({
      elem: '#laydate_to_school_date',
      type: 'date'
    });
    laydate.render({
      elem: '#laydate_retire_date',
      type: 'date'
    });
    laydate.render({
      elem: '#birth',
      type: 'date'
    });


    //普通图片上传
    var uploadInst = upload.render({
      elem: '#uploadPhoto',
      url: '/file/upload/',
      field: 'file',
      before: function (obj) {
        console.log(obj);
        //预读本地文件示例，不支持ie8
        obj.preview(function (index, file, result) {
          $('#uploadPhoto').attr('src', result); //图片链接（base64）
        });
      },
      done: function (res) {
        console.log(res);
        //如果上传失败
        if (res.code > 0) {
          return layer.msg('上传失败');
        }
        $('#upload_err').html('');
        form.val('filter_baseAdd', {
          'photoUrl': res.data
        });
        form.render();
        console.log(res.data);
        //上传成功
      },
      error: function () {
        //演示失败状态，并实现重传
        var upload_err = $('#upload_err');
        upload_err.html(
            '<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        upload_err.find('.demo-reload').on('click', function () {
          uploadInst.upload();
        });
      }
    });
    $('#btn_printForm').click(function () {
      $('#form_baseAdd').print({
        noPrintSelector: '.no_print'
      })
    })
  });
</script>

<style type="text/css">
	@media print {
		.SongTX4 {
			font-family: "宋体";
			font-size: 12pt;
		}

		.FenBiaoTou {
			font-family: "黑体";
			font-size: 24px;
			letter-spacing: 8px;
			line-height: 40px;
			width: 1024px;
			margin-right: auto;
			margin-left: auto;
		}

		.fenbiaotwo {
			margin: 0px;
		}

		.BiaoTou {
			font-family: "华文中宋";
			font-size: 22pt;
			letter-spacing: 5px;
			line-height: 45px;
		}

		.biaozhun {
			font-family: "宋体";
			font-size: 12pt;
			line-height: 120%;
			padding-right: 0.5%;
			padding-left: 0.5%;
			text-align: justify;
		}

		.yiju {
			font-family: "宋体";
			font-size: 11pt;
			line-height: 120%;
			padding-right: 0.5%;
			padding-left: 0.5%;
			text-align: justify;
			text-align: center;
		}

		select {

			text-align: center;
			text-align-last: center;
			border: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			font-family: "宋体";
			font-size: 12pt;
		}

		.select {
			text-align: center;
			text-align-last: center;
			border: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			font-family: "宋体";
			font-size: 12pt;
		}

	}

	.SongTX4 {
		font-family: "宋体";
		font-size: 12pt;
	}

	.FenBiaoTou {
		font-family: "黑体";
		font-size: 24px;
		letter-spacing: 8px;
		line-height: 40px;
		width: 1024px;
		margin-right: auto;
		margin-left: auto;
	}

	.fenbiaotwo {
		margin: 0;
	}

	.BiaoTou {
		font-family: "华文中宋";
		font-size: 22pt;
		letter-spacing: 5px;
		line-height: 45px;
	}

	.biaozhun {
		font-family: "宋体";
		font-size: 12pt;
		line-height: 120%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		text-align: justify;
	}

	.yiju {
		font-family: "宋体";
		font-size: 11pt;
		line-height: 120%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		text-align: justify;
		text-align: center;
	}

	select {
		text-align: center;
		text-align-last: center;
		border: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		font-family: "宋体";
		font-size: 12pt;
	}

	.select {
		text-align: center;
		text-align-last: center;
		border: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		font-family: "宋体";
		font-size: 12pt;
	}
</style>