<!-- 内容主体区域 -->
<style type="text/css">

	.SongTX4 {
		font-family: "宋体";
		font-size: 12pt;
	}

	.FenBiaoTou {
		font-family: "黑体";
		font-size: 24px;
		letter-spacing: 8px;
		line-height: 40px;
		width: 1024px;
		margin-right: auto;
		margin-left: auto;
	}

	.fenbiaotwo {
		margin: 0px;
	}

	.BiaoTou {
		font-family: "华文中宋";
		font-size: 22pt;
		letter-spacing: 5px;
		line-height: 45px;
	}

	.biaozhun {
		font-family: "宋体";
		font-size: 12pt;
		line-height: 120%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		text-align: justify;
	}

	.yiju {
		font-family: "宋体";
		font-size: 11pt;
		line-height: 120%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		text-align: justify;
		text-align: center;
	}

	select {
		text-align: center;
		text-align-last: center;
		border: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		font-family: "宋体";
		font-size: 12pt;
	}

	.select {
		text-align: center;
		text-align-last: center;
		border: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		font-family: "宋体";
		font-size: 12pt;
	}
</style>
	<form class="layui-form between-content" method="post" action="/baseInfo/set">
		<div class="SongTX4" style="margin: 40px auto;width: 400px;">

		<div class="layui-form-item" align="center">
			<label class="layui-form-label">住院人</label>
			<div class="layui-input-inline">
				<input type="text" name="name" required
				       class="layui-input">
			</div>
		</div>

		<div class="layui-form-item" align="center">
			<label class="layui-form-label">工资号</label>
			<div class="layui-input-inline">
				<input type="text" name="salaryNumber" required
				       class="layui-input">
			</div>
		</div>

		<div class="layui-form-item" align="center">
			<label class="layui-form-label">住院时间</label>
			<div class="layui-input-inline">
				<!--hospital_start hospital_end-->
				<input type="text" name="illtime" required
				       class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" align="center">
			<label class="layui-form-label">住院原因</label>
			<div class="layui-input-inline">
				<input type="text" name="reason" required
				       class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" align="center">
			<label class="layui-form-label">探望次数</label>
			<div class="layui-input-inline">
				<input type="text" name="visitTimes" required
				       class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" align="center">
			<label class="layui-form-label">探望详情</label>
			<div class="layui-input-inline">
				<input type="text" name="visitDetails" required
				       class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" >
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="formDemo" id="next">提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>

		</div></form>

<script>
  layui.use(['form'], function () {
    var form = layui.form;
    form.render();
    console.log("eeeeee")
  })
</script>