<!-- 内容主体区域 -->
<div style="padding: 15px;">

	<table id="table_user" lay-filter="table_user"></table>

</div>
<script type="text/html" id="switchTpl">
	<input type="checkbox" name="able" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用" lay-filter="switch_able">
</script>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">授权</a>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
  var left, right, btnLight_left, btnLight_right;
  layui.use(['table', 'form'], function () {

    var $ = layui.$;
    var table = layui.table;
    var form = layui.form;
    form.render();
    table.render({
      elem: '#table_user'
      , height: 315
      , url: '/baseInfo/findByPage' //数据接口
      , page: true //开启分页
      , cols: [[ //表头
        {type: 'checkbox', fixed: 'left'}
        , {field: 'name', title: '用户名', width: 80, sort: true, fixed: 'left'}
        , {field: 'type', title: '账号类型', width: 80}
        , {field: 'createTime', title: '创建时间', width: 80, sort: true}
        , {field: 'phone', title: '电话', width: 80}
        , {field: 'sex', title: '禁用', width: 85, templet: '#switchTpl', unresize: true}
        , {fixed: 'right', width: 178, align: 'center', toolbar: '#barDemo'}
      ]],
      done: function (res, curr, count) {
        //如果是异步请求数据方式，res即为你接口返回的信息。
        //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
        console.log(res);

        //得到当前页码
        console.log(curr);

        //得到数据总量
        console.log(count);
      }
    });
    //监听表格复选框选择
    table.on('checkbox(table_user)', function (obj) {
      console.log(obj)
    });
    //监听工具条
    table.on('tool(table_user)', function (obj) {
      var data = obj.data;
      if (obj.event === 'detail') {

        layer.open({
          type: 1,
          title: '用户授权',
          btn: ['确定', '重置', '关闭'],
          btnAlign: 'c',
          area: ['600px', '400px'],
          content: $('#layer_power'),//这里content是一个普通的String
          yes: function (index, layero) {
            console.log($('#right_select').html());
          },
          btn2: function (index, layero) {
            layer.msg("关闭")
          }
        });

      } else if (obj.event === 'del') {
        layer.confirm('真的删除行么', function (index) {
          obj.del();
          layer.close(index);
        });
      } else if (obj.event === 'edit') {
        layer.alert('编辑行：<br>' + JSON.stringify(data))
      }
    });
    form.on('switch(switch_able)', function (obj) {
      layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
    });


    function (){

    }
    $.get("/power/findOtherByUser",
        {
          name: 123//用户名
        },
        function (res) {
          console.log(res);
          var html = '';
          res.forEach(function (power) {
            html += '<option onclick="btnLight_right()" value="' + power.id + '">' + power.name + '</option> ';
          });
          $("#left_select").html(html);
        }
    );
    $.get(
        "/power/findAllByUser",
        {
          name: 123//用户名
        },
        function (res) {
          console.log(res);
          var html = '';
          res.forEach(function (power) {
            html += '<option onclick="btnLight_left()" value="' + power.id + '">' + power.name + '</option> ';
          });
          $("#right_select").html(html);
          // <option value="zhangsan">zhangsan</option>
          //       <option value="lisi">lisi</option>
          //       <option value="lisi">lisi</option>
          //       <option value="wangwu">wangwu</option>
        }
    );
    btnLight_left = function () {
      $('#btn_left').css('background-color', '#5FB878');
    };
    btnLight_right = function () {
      $('#btn_right').css('background-color', '#5FB878');
    };
    //isAll 是否全部移动
    left = function (isAll) {
      var os = [];
      os = $("#right_select").find("option");
      for (i = 0; i < os.length; i++) {
        if (isAll) {
          // var o = new Option(os[i].text, os[i].value);
          $("#left_select").append('<option onclick="btnLight_right()" value="' + os[i].value + '">' + os[i].text + '</option> ');
          $("#right_select").find("option").remove();
          // == $("#right_select").empty();
        } else {
          if (os[i].selected) {
            // var o = new Option(os[i].text, os[i].value);
            $("#left_select").append('<option onclick="btnLight_right()" value="' + os[i].value + '">' + os[i].text + '</option> ');
            $("#right_select").find("option:selected").remove();
          }
        }
      }
      $('#btn_left').css('background-color', '#009688');
    };

    right = function (isAll) {
      var os = [];
      os = $("#left_select").find("option");
      for (i = 0; i < os.length; i++) {
        if (isAll) {
          // var o = new Option(os[i].text, os[i].value);
          $("#right_select").append('<option onclick="btnLight_left()" value="' + os[i].value + '">' + os[i].text + '</option> ');
          $("#left_select").find("option").remove();
          // == $("#left_select").empty();
        } else {
          if (os[i].selected) {
            // var o = new Option(os[i].text, os[i].value);
            $("#right_select").append('<option onclick="btnLight_left()" value="' + os[i].value + '">' + os[i].text + '</option> ');
            $("#left_select").find("option:selected").remove();
          }
        }
      }
      $('#btn_right').css('background-color', '#009688');
    }

  })

</script>
