<!-- 内容主体区域 -->

<div align="right">
	<button style="margin: 5px" class="layui-btn" id="add_user">添加用户</button>
</div>
<div style="padding: 15px;">
	<table id="table_user" lay-filter="table_user"></table>
</div>
<script type="text/html" id="switchTpl">
	<input type="checkbox" name="able" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用" lay-filter="switch_able">
</script>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">授权</a>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    $('#add_user').click(function () {
        //在这里面输入任何合法的js语句
		console.log("hehe")
        layer.open({
            type: 1 //Page层类型
            ,area: ['800px', '600px']
            ,title: '请填写相关信息'
            ,shade: 0.6 //遮罩透明度
            ,maxmin: true //允许全屏最小化
            ,anim: 1 //0-6的动画形式，-1不开启
            ,content: '<!DOCTYPE html>\n' +
            '<html lang="en">\n' +
            '<head>\n' +
            '    <meta charset="UTF-8">\n' +
            '    <title>Title</title>\n' +
            '    <link rel="stylesheet" href="../../css/my_info.css">\n' +
            '</head>\n' +
            '<body>\n' +
            '\n' +
            '<div class="container">\n' +
            '    <div class="wrap">\n' +
            '        <form class="wrap_content">\n' +
            '            <div class="wrap_deep_content">\n' +
            '                <label for="inputEmail3" class="col-sm-2 control-label">姓名:</label>\n' +
            '                <div class="col-sm-10">\n' +
            '                    <input type="email" class="form-control" id="inputEmail3">\n' +
            '                </div>\n' +
            '            </div>\n' +
            '            <div class="wrap_deep_content">\n' +
            '                <label for="inputEmail3" class="col-sm-2 control-label">账号:</label>\n' +
            '                <div class="col-sm-10">\n' +
            '                    <input type="email" class="form-control">\n' +
            '                </div>\n' +
            '            </div>\n' +
            '            <div class="wrap_deep_content">\n' +
            '                <label for="inputEmail3" class="col-sm-2 control-label">电话:</label>\n' +
            '                <div class="col-sm-10">\n' +
            '                    <input type="email" class="form-control">\n' +
            '                </div>\n' +
            '            </div>\n' +
            '            <div class="wrap_deep_content">\n' +
            '                <label for="inputPassword3" class="col-sm-2 control-label">密码:</label>\n' +
            '                <div class="col-sm-10">\n' +
            '                    <input type="password" class="form-control" id="inputPassword3">123456\n' +
            '                </div>\n' +
            '            </div>\n' +
            '            <div class="wrap_deep_content">\n' +
            '                <div class="col-sm-offset-2 col-sm-10">\n' +
            '                    <button type="submit" class="btn btn-default">添加</button>\n' +
            '                </div>\n' +
            '            </div>\n' +
            '        </form>\n' +
            '    </div>\n' +
            '</div>\n' +
            '\n' +
            '\n' +
            '\n' +
            '\n' +
            '</body>\n' +
            '</html>'
        });

    })



    layui.use(['table', 'form'], function () {

    var $ = layui.$;
    var table = layui.table;
    var form = layui.form;
    form.render();
    table.render({
      elem: '#table_user'
      , height: 700
      , url: '/baseInfo/findByPage' //数据接口
      , page: true //开启分页
      , cols: [[ //表头
        {type: 'checkbox', fixed: 'left'}
        , {field: 'name', title: '用户名', width: 100, sort: true, fixed: 'left'}
        , {field: 'type', title: '账号类型', width: 100},
        {field: 'type', title: '已有权限', width: 200}
        , {field: 'createTime', title: '创建时间', width: 200, sort: true}
        , {field: 'phone', title: '电话', width: 250}
        , {field: 'baseSex', title: '禁用', width: 100, templet: '#switchTpl', unresize: true}
        , {fixed: 'right', width: 178, align: 'center', toolbar: '#barDemo'}
      ]],
      done: function (res, curr, count) {
        //如果是异步请求数据方式，res即为你接口返回的信息。
        //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
        console.log(res);

      }
    });
    //监听表格复选框选择
    table.on('checkbox(table_user)', function (obj) {
      console.log(obj)
    });
    //监听工具条
    table.on('tool(table_user)', function (obj) {
      var data = obj.data;
      if (obj.event === 'detail') {

        layer.open({
          type: 1,
          title: '用户授权',
          // btn: ['确定', '重置', '关闭'],
          btn: ['确定', '关闭'],
          btnAlign: 'c',
          area: ['600px', '400px'],
          content: $('#layer_power'),//这里content是一个普通的String
          yes: function (index, layero) {
            layer.confirm('确认授权', function (index) {

              var selected = [];
              for (var i = 0; i < $('#right_select')[0].length; i++) {
                console.log($('#right_select')[0][i].value)
              }
              for (var j = 0; j < $('#left_select')[0].length; j++) {
                console.log($('#left_select')[0][j].value);
                selected.push($('#left_select')[0][j].value);
              }
              $.post('/power/update', {name: '123', selected: selected}, function (res) {
                if (res.code === 0) {
                  layer.alert("授权成功");
                }
              });
              layer.close(index);
            })
          },
          btn2: function (index, layero) {
            console.log("关闭")
          }
        });

      } else if (obj.event === 'del') {
        layer.confirm('真的删除行么', function (index) {
          obj.del();
          layer.close(index);
        });
      } else if (obj.event === 'edit') {
        layer.alert('编辑行：<br>' + JSON.stringify(data))
      }
    });
    form.on('switch(switch_able)', function (obj) {
      layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
    });
    $.get("/power/findOtherByUser", {name: 123}, function (res) {
          console.log(res);
          var html = '';
          res.forEach(function (power) {
            html += '<option onclick="btnLight_right()" value="' + power.id + '">' + power.name + '</option> ';
          });
          $("#left_select").html(html);
        }
    );
    $.get("/power/findOwnByUser", {name: 123}, function (res) {
          console.log(res);
          var html = '';
          res.forEach(function (power) {
            html += '<option onclick="btnLight_left()" value="' + power.id + '">' + power.name + '</option> ';
          });
          $("#right_select").html(html);
        }
    );

  });

  function btnLight_left() {
    $('#btn_left').css('background-color', '#5FB878');
  }

  function btnLight_right() {
    $('#btn_right').css('background-color', '#5FB878');
  }

  //isAll 是否全部移动
  function left(isAll) {
    var os = [];
    os = $("#right_select").find("option");
    for (i = 0; i < os.length; i++) {
      if (isAll) {
        // var o = new Option(os[i].text, os[i].value);
        $("#left_select").append('<option onclick="btnLight_right()" value="' + os[i].value + '">' + os[i].text + '</option> ');
        $("#right_select").find("option").remove();
        // == $("#right_select").empty();
      } else {
        if (os[i].selected) {
          // var o = new Option(os[i].text, os[i].value);
          $("#left_select").append('<option onclick="btnLight_right()" value="' + os[i].value + '">' + os[i].text + '</option> ');
          $("#right_select").find("option:selected").remove();
        }
      }
    }
    $('#btn_left').css('background-color', '#009688');
  }

  function right(isAll) {
    var os = [];
    os = $("#left_select").find("option");
    for (i = 0; i < os.length; i++) {
      if (isAll) {
        // var o = new Option(os[i].text, os[i].value);
        $("#right_select").append('<option onclick="btnLight_left()" value="' + os[i].value + '">' + os[i].text + '</option> ');
        $("#left_select").find("option").remove();
        // == $("#left_select").empty();
      } else {
        if (os[i].selected) {
          // var o = new Option(os[i].text, os[i].value);
          $("#right_select").append('<option onclick="btnLight_left()" value="' + os[i].value + '">' + os[i].text + '</option> ');
          $("#left_select").find("option:selected").remove();
        }
      }
    }
    $('#btn_right').css('background-color', '#009688');
  }

</script>
