<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>意见反馈</title>
    <link rel="stylesheet" href="../../css/feedback.css">
</head>
<body>
    <div class="container" align="center" >

        <!--意见反馈-->
        <div class="opinion">
            <div class="title">
                <img src="img/feedback.png">
                <span>意见反馈</span>
            </div>
            <div class="text">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>

        <!--邮箱-->
        <div class="email">
            <div class="title">
                <img src="img/email.png">
                <span>您的邮箱</span>
            </div>
            <div class="text">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                </form>
            </div>
        </div>

        <!--按钮-->
        <div class="button">
            <button class="btn btn-default" type="submit">提交</button>
        </div>

    </div>
</body>
</html>