<div class="top">
    <div class="layui-form-item" align="center">
        <form class="layui-form between-content">
            <br>
            <br>
            <div style="width: 100px;height: 40px;float: left">
                <img src="../../img/feedback.png" style="float:left;width: 40px;height: 40px">
                <h3 style="float: right; margin-top: 10px">意见反馈</h3>
            </div>
            <textarea class="ab ac" placeholder="简单描述问题，我们会尽快为您服务" rows="10" cols="30" style="height: 316px;width: 730px;padding-top: 13px;resize:none;"></textarea><br/>
            <br>
            <div style="width: 100px;height: 40px;float: left">
                <img src="../../img/email.png" style="float:left;width: 40px;height: 40px">
                <h3 style="float: right; margin-top: 10px">您的邮箱</h3>
            </div>

            <input type="text" class="ad"/><br/>
            <input type="submit" value="提交" class="right2 right"/>
        </form>
    </div>
</div>
