<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>江西理工大学离退休人员信息管理系统</title>
	<link rel="stylesheet" href="layui/css/layui.css">
	<link rel="stylesheet" href="css/site.css">
	<link rel="stylesheet" href="css/formSelects-v4.css">
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/my_info.css">
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="layui/layui.js"></script>
	<script src="js/jQuery.print.min.js"></script>
	<script src="js/echarts.min.js"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">

		<div class="layui-logo" style="width: 500px;">
				<img href="javascript:" id="data_statics" src="img/logo_school2.png" style="width: 208px;margin-top: -7px;margin-left: -40px;margin-right: 10px"><span style="font-weight: bold;font-size: 22px;letter-spacing: 4px;">离退休人员管理系统</span>
		</div>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
					用户名
				</a>
				<dl class="layui-nav-child">
					<dd><a href="javascript:" id="my_Info2">我的资料</a></dd>

				</dl>
			</li>
			<li class="layui-nav-item"><a href="">退出</a></li>
		</ul>
	</div>

	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree">

				<li class="layui-nav-item">
					<a class="" href="javascript:;" id="data_statics2">数据统计</a>

				</li>
				<li class="layui-nav-item">
					<a class="" href="javascript:;">信息添加</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:" id="base_add">人员添加</a></dd>
						<dd><a href="javascript:" id="survivors_add">遗嘱添加</a></dd>
						<dd><a href="javascript:" id="case_add">病例添加</a></dd>
						<dd><a href="javascript:" id="import_batch">批量导入</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a class="" href="javascript:;">信息管理</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:" id="base_info">人员信息</a></dd>
						<dd><a href="javascript:" id="survivors_info">遗嘱信息</a></dd>
						<dd><a href="javascript:" id="case_info">病例信息</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:">用户管理</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:" id="user_manage">修改权限</a></dd>

					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:">设置</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:" id="my_Info">我的资料</a></dd>
						<dd><a href="javascript:" id="feefback">意见反馈</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>

	<div class="layui-body">
		<!-- 内容主体区域 -->
		<!--<div style="padding: 15px;">-->
			<!---->
		<!--</div>-->


		<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
		<div id="main" style="width: 100%;height:400px;" align="center"></div>
		<script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));


            option = {
                title: {
                    text: '部门类型'
                },
                color: ['#098D82'],
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ['干部', '工人', '聘干','合同制工人'],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'编制类型',
                        type:'bar',
                        barWidth: '30%',
                        data:[345, 401, 12,30]
                    }
                ]
            };



            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
		</script>
		<div id="main2" style="width: 100%;height:400px;" align="center"></div>
		<script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main2'));


            option2 = {
                title: {
                    text: '时间数据图'
                },
                tooltip : {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data:['到校人数','开始工作人数','退休人数']
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : ['1949','1950','1951','1952','1953','1954','1955','1956','1957','1958','1959','1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [

                    {
                        name:'到校人数',
                        type:'line',
                        stack: '总量',
                        areaStyle: {normal: {}},
                        data:[193,65,263,176,51,86,288,235,153,114,277,42,16,128,80,223,108,236,301,186,174,10,121,305,200,191,227,143,27,231,37,116,88,75,74,272,267,136,259,25,70,145,236,205,151,187,62,205,115,61,251,87,150,228,166,50,75,205,52,19,296,95,108,134,242,224,188,51,61,56
                        ]
                    },
                    {
                        name:'开始工作人数',
                        type:'line',
                        stack: '总量',
                        areaStyle: {normal: {}},
                        data:[105,272,205,90,82,71,263,278,33,104,177,228,300,211,73,89,154,13,115,108,55,275,222,209,28,258,50,152,138,272,93,55,207,215,49,256,88,289,182,122,263,57,253,163,84,20,108,28,307,159,107,97,62,165,248,299,193,281,139,124,92,184,252,227,168,21,201,165,25,57]
                    },
                    {
                        name:'退休人数',
                        type:'line',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'top'
                            }
                        },
                        areaStyle: {normal: {}},
                        data:[195,151,106,18,201,181,103,164,212,20,196,20,172,93,92,77,131,97,304,290,41,115,39,65,303,227,163,52,135,108,257,241,60,44,203,212,16,168,217,153,125,283,175,35,136,260,48,29,25,199,238,89,171,150,223,151,171,105,177,256,245,248,127,94,47,209,32,289,203,67
                        ]
                    }
                ]
            };



            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option2);
		</script>


	</div>

	<div class="layui-footer" align="center">
		<!-- 底部固定区域 -->
		Copyright 江西理工大学离退休处
	</div>
</div>

<script>
  layui.config({
    base: '/js/'
  }).extend({
    formSelects: 'formSelects-v4'
  });
  layui.use('element', function () {
    var element = layui.element;
    var $ = layui.$;

    //左侧导航栏路由
      $('#data_statics2').click(function () {
          $('.layui-body').load('pages/data_statics.html');
      });
      $('#data_statics').click(function () {
          $('.layui-body').load('pages/data_statics.html');
      });
    $('#base_add').click(function () {
      $('.layui-body').load('pages/info_add/base_add.html');
    });
    $('#survivors_add').click(function () {
      $('.layui-body').load('pages/info_add/survivors_add1.html');
    });
    $('#case_add').click(function () {
      $('.layui-body').load('pages/info_add/case_add.html');
    });
    $('#import_batch').click(function () {
      $('.layui-body').load('pages/info_add/import_batch.html');
    });
    $('#user_manage').click(function () {
      $('.layui-body').load('pages/power_manage/user_manage.html');
    });
    $('#base_info').click(function () {
      $('.layui-body').load('pages/info_manage/base_info.html');
    });
      $('#survivors_info').click(function () {
          $('.layui-body').load('pages/info_manage/survivors_info.html');
      });
      $('#case_info').click(function () {
          $('.layui-body').load('pages/info_manage/case_info.html');
      });
    $('#feefback').click(function () {
      $('.layui-body').load('pages/system_setting/feedback.html');
    });
    $('#my_Info').click(function () {
      $('.layui-body').load('pages/power_manage/my_info.html');
    });
  });
</script>
</body>
<div id="layer_power" class="layui-table-box" style="display: none;">
	<table cellspacing="1" align="center">
		<tr>
			<td>
				<table style="background-color:white" width="100%">
					<tr>
						<td>
							<fieldset>
								<legend>可选授权名称</legend>
								<select name="left_select" multiple="multiple" size="10" id="left_select" style="width : 152px">

								</select>
							</fieldset>
						</td>
						<td>
							<button class="layui-btn" id="btn_left" onclick="left()">
								<
							</button>
							<br>
							<!--<button class="layui-btn-sm" onclick="left(true)">-->
							<!--<<-->
							<!--</button>-->
							<br>
							<button class="layui-btn" id="btn_right" onclick="right()">></button>
							<br>
							<!--<button class="layui-btn-sm" onclick="right(true)">>></button>-->
							<!--<br>-->
						</td>
						<td>
							<fieldset>
								<legend>已选授权名称</legend>
								<select name="right_select" multiple="multiple" style="width : 152px" size="10" id="right_select">
								</select>
							</fieldset>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<!--<div id="layer_power2" class="layui-table-box" style="display: none">-->
<!--<form>-->
<!--<div class="layui-form-item layui-form-checkbox" pane="">-->
<!--<div class="layui-input-block">-->
<!--<input class="layui-form-checkbox" type="checkbox" name="like1[write]" lay-skin="primary" title="写作">-->
<!--<input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">-->
<!--<input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏">-->
<!--</div>-->
<!--</div>-->
<!--</form>-->

<!--</div>-->

</html>