<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>江西理工大学离退休人员信息管理系统</title>
	<link rel="stylesheet" href="layui/css/layui.css">
	<link rel="stylesheet" href="css/site.css">
	<link rel="stylesheet" href="css/base_add.css">
	<link rel="stylesheet" href="css/formSelects-v4.css">
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/my_info.css">
	<link rel="stylesheet" href="css/photo_manage.css">
	<link rel="stylesheet" href="css/data_statics.css">
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="layui/layui.js"></script>
	<script src="js/jQuery.print.min.js"></script>
	<script src="js/echarts.min.js"></script>

</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div class="layui-logo" style="width: 500px;">
			<img href="javascript:" id="data_statics" src="img/logo_school2.png"
			     style="width: 151px;margin-top: -7px;margin-left: -98px;margin-right: 5px;"><span
				style="margin-left: 10px;font-weight: bold;font-size: 22px;letter-spacing: 4px;">离退休人员管理系统</span>
		</div>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<a href="javascript:">
					<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
					<span id="user-name">用户名</span>
				</a>
				<dl class="layui-nav-child">
					<dd><a href="javascript:" id="my_Info2">我的资料</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item"><a href="/login">退出</a></li>
		</ul>
	</div>

	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree">
				<li class="layui-nav-item">
					<a class="" href="javascript:" id="data_statics2">数据统计</a>
				</li>
				<li class="layui-nav-item">
					<a class="" href="javascript:">信息添加</a>
					<dl class="layui-nav-child">

						<dd><a href="javascript:" id="base_add">人员添加</a></dd>
						<dd><a href="javascript:" id="survivors_add">遗嘱添加</a></dd>
						<dd><a href="javascript:" id="case_add">病例添加</a></dd>
						<!--<dd><a href="javascript:" id="import_batch">批量导入</a></dd>-->
					</dl>
				</li>
				<li class="layui-nav-item">
					<a class="" href="javascript:">信息管理</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:" id="base_info">人员信息</a></dd>
						<dd><a href="javascript:" id="died_info">去世人员信息</a></dd>
						<dd><a href="javascript:" id="photo_manage">照片管理</a></dd>
						<!--<dd><a href="javascript:" id="survivors_info">遗嘱信息</a></dd>-->
						<!--<dd><a href="javascript:" id="case_info">病例信息</a></dd>-->
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:">用户管理</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:" id="user_manage">修改权限</a></dd>

					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:">设置</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:" id="my_Info">我的资料</a></dd>
						<dd><a href="javascript:" id="feefback">意见反馈</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>

	<div class="layui-body" id="main_content">

		<script type="text/javascript">
      $(document).ready(function () {
        $('#main_content').load('pages/data_statics.html');
      });

		</script>
	</div>

	<div class="layui-footer" align="center">
		Copyright © .版权所有：江西理工大学—离退休工作处 2009 - 2019 All Rights Reserved.
		后台维护人员联系邮箱：466350259@qq.com(极客工作室)<br>

	</div>
</div>

<script>
  var token = getUrlParam('token');
  layui.config({
    base: '/js/'
  }).extend({
    formSelects: 'formSelects-v4'
  });
  layui.use('element', function () {
    var element = layui.element;
    var $ = layui.$;
    $.post('', {}, function () {
      $('#user-name')
    })


    //左侧导航栏路由
    $('#data_statics2').click(function () {
      $('.layui-body').load('pages/data_statics.html');
    });
    $('#data_statics').click(function () {
      $('.layui-body').load('pages/data_statics.html');
    });
    $('#base_add').click(function () {
      $('.layui-body').load('pages/info_add/base_add.html');
    });
    $('#survivors_add').click(function () {
      $('.layui-body').load('pages/info_add/survivors_add1.html');
    });
    $('#case_add').click(function () {
      $('.layui-body').load('pages/info_add/case_add.html');
    });
    $('#import_batch').click(function () {
      $('.layui-body').load('pages/info_add/import_batch.html');
    });
    $('#user_manage').click(function () {
      $('.layui-body').load('pages/power_manage/user_manage.html');
    });
    $('#base_info').click(function () {
      $('.layui-body').load('pages/info_manage/base_info.html');
    });

    $('#died_info').click(function () {
      $('.layui-body').load('pages/info_manage/died_info.html');
    });
    $('#photo_manage').click(function () {
      $('.layui-body').load('pages/info_manage/photo_manage.html');
    });
    $('#survivors_info').click(function () {
      $('.layui-body').load('pages/info_manage/survivors_info.html');
    });
    $('#case_info').click(function () {
      $('.layui-body').load('pages/info_manage/case_info.html');
    });
    $('#feefback').click(function () {
      $('.layui-body').load('pages/system_setting/feedback.html');
    });
    $('#my_Info').click(function () {
      $('.layui-body').load('pages/system_setting/my_info.html');
    });
    $('#my_Info2').click(function () {
      $('.layui-body').load('pages/system_setting/my_info.html');
    });
  });

  function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return null; //返回参数值
  }
</script>
</body>
</html>