    body{
        background: url("../img/01.png") no-repeat;
    }
    .container{
        padding-top: 80px;
    }

    /*标题*/
    .title{
        width: 51%;
        margin: 0 auto;
        margin-bottom: 120px;
    }
    .title h2{
        letter-spacing: 4px;
        color: #154077;
    }

    /*表单*/
    .wrap{
        width: 435px;
        height: 236px;
        margin: 0 auto;
        background: rgba(255,255,255,0.4);
        padding-top: 44px;
    }
    .form-horizontal{
        width: 61%;
        margin: 0 auto;
    }
    .form-horizontal .form-group{
        margin-left: 0;
        margin-right: 0;
    }
    .form-group label{
        width: 50px;
        margin-right: 10px;
    }
    .col-sm-10{
        width: 77.33333%;
        padding-left: 0;
    }

    /*按钮*/
    .btn{
        width: 191px;
        margin-left: 15px;
        background: #439fe9;
        color: white;
        letter-spacing: 5px;
        border: 1px solid #439fe9;
        margin-top: 10px;
    }
    .btn:hover{
        background: #2f8cd8;
        color: white;
    }

    /*底部logo*/
    .logo{
        width: 235px;
        margin: 0 auto;
        margin-top: 100px;
    }





